html { 
  background: url(abstract_colors_eola_sunset.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

a:link {
    color: blue;
}
a:visited {
    color: red;
}

h1 {
    font-size: xx-large
}

p {
    font-size: large
}

.accordion {
background-color: #eee;
border: 1px solid #ccc;
width: 600px;
padding: 10px;
margin: 50px auto;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 0 #999;
-webkit-box-shadow: 0 1px 0 #999;
box-shadow: 0 1px 0 #999;
}

.accordion section {
border-bottom: 1px solid #ccc;
margin: 5px;
background-color: #fff;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
background-image: -webkit-linear-gradient(top, #fff, #eee);
background-image:    -moz-linear-gradient(top, #fff, #eee);
background-image:     -ms-linear-gradient(top, #fff, #eee);
background-image:      -o-linear-gradient(top, #fff, #eee);
background-image:         linear-gradient(top, #fff, #eee);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.accordion h2, .accordion p {
margin: 0;
}

.accordion p {
padding: 10px;
}

.accordion h2 a {
display: block;
position: relative;
font: 14px/1 'Trebuchet MS', 'Lucida Sans';
padding: 10px;
color: #333;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.accordion h2 a:hover {
background: #fff;
}
.accordion h2 + div {
height: 0;
overflow: hidden;
-moz-transition: height 0.3s ease-in-out;
-webkit-transition: height 0.3s ease-in-out;
-o-transition: height 0.3s ease-in-out;
transition: height 0.3s ease-in-out;
}
.accordion :target h2 a:after {
content: '';
position: absolute;
right: 10px;
top: 50%;
margin-top: -3px;
border-top: 5px solid #333;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
}
.accordion :target h2 + div {
            height: 200px;
}

.horizontal-click {
height: calc(310px + 35px*3 + 1px*2);
box-shadow: 0 0 0 1px #808080 inset;
}
.horizontal-click > [name^="vkl"] {
display: none;
}
.horizontal-click > [for^="vkl"] {
display: block;
overflow: hidden;
height: 35px;
line-height: 35px;
text-indent: 1em;
background: #606060;
color: rgb(200,200,200);
white-space: nowrap;
word-wrap: normal;
text-overflow: ellipsis;
cursor: pointer;
}
.horizontal-click > [for^="vkl"]:not(:nth-last-of-type(1)) {
border-bottom: 1px solid #808080;
}
.horizontal-click > [for^="vkl"] + * {
overflow: hidden;
height: 0;
padding: 0 .5em;
transition: .5s;
}
.horizontal-click > [name^="vkl"]:nth-of-type(1):checked ~ [for^="vkl"]:nth-of-type(1) + *,
.horizontal-click > [name^="vkl"]:nth-of-type(2):checked ~ [for^="vkl"]:nth-of-type(2) + *,
.horizontal-click > [name^="vkl"]:nth-of-type(3):checked ~ [for^="vkl"]:nth-of-type(3) + * {
overflow: auto;
height: 310px;
}
.horizontal-click > [name^="vkl"]:nth-of-type(1):checked ~ [for^="vkl"]:nth-of-type(1),
.horizontal-click > [name^="vkl"]:nth-of-type(2):checked ~ [for^="vkl"]:nth-of-type(2),
.horizontal-click > [name^="vkl"]:nth-of-type(3):checked ~ [for^="vkl"]:nth-of-type(3) {
background: #454545;
cursor: default;
}
